
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f4f4f4;
}

#table {
    margin-top: 30px;
}


#table tr:first-child td input {
    text-align: left;

}


#table tr:not(:first-child) td input {
    text-align: right;
}




#input-num-of-players {
    max-width: 100px;
}

input {
    max-width: 60px;
}