
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

#table {
    margin-top: 30px;
}

#input-players {
    max-width: 100px;
    text-align: left;
}

input {
    max-width: 50px;
    text-align: right;
}